.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.sign-in-sign-up-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
  
.sign-in-box,
.sign-up-box {
    width: 48%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 40px;
    background-color: rgb(36, 247, 145);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.sign-up-box {
    margin-left: 200px; 
}
  
.section-header {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
    color: #333; 
}
  
.sign-in-box form label,
.sign-up-box form label {
    display: block;
    margin-bottom: 10px;
    color: #555; 
}
  
.sign-in-box form input,
.sign-up-box form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.sign-in-box form button,
.sign-up-box form button {
    background-color: #05bf8a; 
    color: #fff; 
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
 .sign-in-box form button:hover,
.sign-up-box form button:hover {
    background-color: #2ef7cb; 
}